.page {
    height: 100vh;
    box-sizing: border-box; 
    /* padding and margin will be part of the element's width/height without adding to it */
    position: absolute;
    width: 100%;
}

#page-1 {
    background-color: aliceblue;
}

#page-2 {
    background-color: blanchedalmond;
}

#page-3 {
    background-color: cornsilk;
}

#all-pages {
    position: relative;
}

.hidden {
    /* move hidden page to the
    left by 100% of its width */
    transform: translateX(100%);
    transition: transform 1s;
}

.show {
    transform: translateX(0);
    transition: transform 1s;
}